.footer {
  background-color: rgba($color: #000000, $alpha: 0.9);
  height: 25vh;
  margin: 0 auto;
  padding: 20px;

  line-height: calc(35px + 1 * ((100vw - 320px) / 680));

  .info-text {
    padding: 20px 20px 20px 0;
    color: $white;
  }

  h1 {

    font-size: calc(25px + 1 * ((100vw - 320px) / 680));

  }

  h2 {
    font-size: calc(20px + 1 * ((100vw - 320px) / 680));

  }

  p {
    font-size: calc(15px + 1 * ((100vw - 320px) / 680));

  }

  .socialMediaIcon {
    font-size: calc(30px + 1 * ((100vw - 320px) / 680));
    line-height: calc(25px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (max-width: 850px) {
  .footer {
    height: 50vh;

  }

  .info-text {
    text-align: left;

  }

}