$white: #ffffff;
$primary-color: #385270;
$primary-light: #3e638a;
$primary-dark: #39597c;
$secondary-color: #6969f6; //#ec517f;
$text-color: #020202;

///
$white: #ffffff;
$primary-black: #1c1c1c;
$secondary-black: #1c1c1c;

$black: #000000;
$navigation-grey: #535353;

$primary-grey: #c7c4c4;
$count_grey: #f7f7f7;